@charset "UTF-8";
/**
 * 
 * @authors Phelps Chou
 * @date    2016-11-10 16:32:02
 * @version $Id$
 */


 /***第一部分样式，重置默认***/
html,body,h1,h2,h3,h4,ul,ol,li,dl,dt,dd,p{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #666;
}
li{
	list-style-type: none;
}

/***第二部分样式，设置当前页面公共样式***/
body{
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
}
html,body,#full-page{
	height: 100%;
	width: 100%;
}
/*清除浮动对父容器高度的影响*/
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
/*让页面上的内容居中显示，宽度固定为1200px*/
.layout{
	width: 1200px;
	margin: 0 auto;
}
/*每页背景设置*/
.bg-cover{
	position: relative;
	background: url(../img/bg.jpg) no-repeat center center;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
/*每页内容居中*/
.content-wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
/*每页的标题样式*/
.all-title{
	padding-top: 50px;
	height: 66px;
}
.all-title h1{
	font-size: 24px;
	width: 130px;
	margin: 0 auto;
	padding: 5px 0;
}
.all-title .title-eng{
	width: 0;
	margin: 0 auto;
	color: #f00;
	padding: 5px 0;
	border-top: 2px solid #f00;
}
.all-title h2{
	display: none;
	font-size: 14px;
    font-family: "allerbold";
}

/***第三部分样式，页面功能区块的样式***/

/*头部条样式*/
#header-bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 66px;
	background-color: #999;
	opacity: 0;
	z-index: 777;
    transition: all 5s ease;
}
#header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 66px;
	font-size: 13px;
	z-index: 999;
	opacity: 0;
}
#header .header-logo{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	float: left;
}
#header .header-logo li{
	float: left;
}
#header .header-img{
	width: 60px;
	height: 60px;
}
#header .header-img img{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	transition: box-shadow 0.5s;  /*过渡*/
	cursor: pointer;
}
#header .header-img img:hover{
	box-shadow: 0 0 15px #1FAEFF; /* offset-x | offset-y | blur-radius | color */
}
#header .header-p{
	position: absolute;
	top: 50%;
	left: 60px;
	width: 114px;
	transform: translateY(-50%);
	text-align: center;
	cursor: pointer;
}
#header .header-p span{
	display: block;
	color: #000;
}
#header .header-p span.header-p1{
	border-bottom: 1px solid #333;
	width: 84px;
	padding-bottom: 5px;
	margin: 0px 15px 5px;
}

#header .header-nav{
	float: right;
}
#header .header-nav li{
	float: left;
	line-height: 66px;
	padding: 0 20px;
}
#header .header-nav li a{
	position: relative;
}
#header .header-nav li a::after{
	content: "";
	height: 3px;
	background-color: #1faeff;
	position: absolute;
	left: 50%;
	right: 50%;
	top: 38px;
	transition: all 0.2s ease-in;
}
#header .header-nav a:hover{
	color: #000;
}
#header .header-nav a:hover::after{
	left: 0;
	right: 0;
}
#header .header-logo .header-p{
	display: none;
}
#header .header-logo .header-p.active{
	display: block;
}


/*侧边栏样式*/
#aside{
	display: none;
	position: fixed;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1000;
}
#aside ul li{
	margin: 15px 0;
	height: 20px;
	text-align: right;
	cursor: pointer;
}
#aside ul li .tag{
	display: none;
	padding-right: 5px;
}
#aside ul li .circular{
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 2px solid #959595;
	border-radius: 50%;
}
#aside ul li:hover .tag{
	display: inline-block;
}
#aside ul li .circular.selected{
	background-color: #000;
}

/*回到顶部和扫描二维码图片*/
.tools{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	height: 110px;
}
.tools a{
	display: block;
	height: 45px;
	width: 45px;
	text-align: center;
	background-color: #eee;
	margin-top: 10px;
}
.tools a.go-top{
	display: none;
}
.tools a:hover{
	background-color: #ff98a1;
	color: #fff;
}
.tools a i{
	font-size: 35px;
	line-height: 45px;
}
.tools img{
	position: absolute;
	top: -90px;
	right: 46px;
	width: 150px;
	opacity: 0;
}